html, body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#info {
	position: fixed;
	top : 10px;
	left : 10px;
	font-family: monospace;
	font-size: 10;
}

#info-content {
	display: none;
}

#info:hover #info-content {
	display: block;
}

a {
	color: black;
}

h1 {
	font-size: 12;
}